<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Feed</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <div class="flex-column justify-space-around">
      <header
        class="header display-flex justify-space-between align-center p-2"
      >
        <h1 class="title text-center">
          The Feed
        </h1>
        <div class="reveal" id="exampleModal1" data-reveal>

          <div class="row">
            <div class="col-md-6">
              <h2>Login</h2>
{{#if loggedIn}}
              <form class="form login-form">
                <div class="form-group">
                  <label for="email-login">email:</label>
                  <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                  <label for="password-login">password:</label>
                  <input
                    class="form-input"
                    type="password"
                    id="password-login"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">login</button>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <h2>Signup</h2>

              <form class="form signup-form">
                <div class="form-group">
                  <label for="name-signup">name:</label>
                  <input class="form-input" type="text" id="username-signup" />
                </div>
                <div class="form-group">
                  <label for="email-signup">email:</label>
                  <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                  <label for="password-signup">password:</label>
                  <input
                    class="form-input"
                    type="password"
                    id="password-signup"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">signup</button>
                </div>
              </form>
            </div>
          </div>

          <button
            class="close-button"
            data-close
            aria-label="Close modal"
            type="button"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{! <a href="/views/layouts/login.handlebars" target="_blank"> }}
        <button
          class="button"
          data-open="exampleModal1"
          id="login"
        >Login</button>
        {{! </a> }}
        {{/if}}
      </header>

      <main class="container container-fluid mt-5">

        {{{body}}}
      </main>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

    <script type="text/javascript">

    </script>
    <script src="/js/app.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>