<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>The Feed</title>
</head>
<body>
    <header class="welcome">Welcome to The Feed</header>
    <main class="loggin">
        <p>Login</p>
        <input type="text" class="log"></input>
       <p>Password</p>
        <input type="text" class="pass"></input>
        <button type="submit" class="press">Press Me</button>

    </main>

    <script src="app.css"></script>
</body>
</html>