
*{ 
    background-color: #E1F4CB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* .review-container {
    display: none; 
    background-color: #BACBA9;
} */